<h1>BASSDRIVE HTML5 Player</h1>
<p>Experimental build</p>

<audio controls>
<% @relays.each do |relay| %>
	<source src="<%= relay['streamURL'].html_safe %>" type="<%= content_type_for_relay(relay)%>" />
<% end %>
	<em>Sorry, your browser doesn't support HTML5 audio.</em>
</audio>
