<div class="illustration"></div>

<div class="ajax-content">
  <%= svg_image_tag('bassdrive-logo.svg', class: 'player-bassdrive-logo').html_safe %>

  <h3 class="player-title">Now Playing</h3>
  <p class="player-desc js-playing-now"></p>

  <audio id="bassdrive-stream" controls preload="auto">
  <% @relays.each do |relay| %>
    <source src="<%= relay['streamURL'].html_safe %>" type="<%= content_type_for_relay(relay)%>" />
  <% end %>
    <em>Sorry, your browser doesn't support HTML5 audio. Use a modern browser.</em>
  </audio>

  <div id="audio-controls">
    <button id="play-button" type="button">Play</button>

    <spen class="volume-controls">
      <button id="button-set-vol-0" class="button-set-vol" type="button">0</button>
      <button id="button-set-vol-25" class="button-set-vol" type="button">25</button>
      <button id="button-set-vol-50" class="button-set-vol" type="button">50</button>
      <button id="button-set-vol-75" class="button-set-vol" type="button">75</button>
      <button id="button-set-vol-100" class="button-set-vol" type="button">100</button>
    </spen>
  </div>
</div>
