body {
  min-width: 0 !important; // Fix main bassdrive.com stylesheet issue
}

#bassdrive-stream {
  body.JSEnabled & {
    display: none;
  }
}

.player-title {
  display: none;
}

$blue: #8BD2F4;
$grey: #676767;
$yellow: #FFD48F;

#play-button {
  background: white;
  border: none;

  &.playing {
    background: $blue;
  }

  &.paused {
    background: $yellow;
  }
}

.button-set-vol {
  background: $blue;
  width: 2px;
  text-indent: -999px;
  overflow: hidden;
  border: none;
  padding: 2px;
  margin: 0;
}

#audio-controls {
  display: none;

  .JSEnabled & {
    display: block;
  }

  margin-top: 10px;

  &.volume-0 {
    .button-set-vol {
      background: $grey;
    }
  }

  &.volume-25 {
    #button-set-vol-50,
    #button-set-vol-75,
    #button-set-vol-100 {
      background: $grey;
    }
  }

  &.volume-50 {
    #button-set-vol-75,
    #button-set-vol-100 {
      background: $grey;
    }
  }

  &.volume-75 {
    #button-set-vol-100 {
      background: $grey;
    }
  }
}
